@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Inter:wght@100;200;300;400;600;700;800;900&family=Mr+Dafoe&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    background-image: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg');
    background-size: cover;
    color: black;
    overflow: hidden;
}
.invsys{
    position: fixed;
    inset: 0 0 0 0;
    max-width: 600px;
    margin: 10vh 0 5vw 14.5vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
    text-align: center;
}


#item, #quantity{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    height: 3vh;
    width: auto;
}

#submitButton, #editbutton, #SubmitEdit{
    background-color: black;
    color:white;
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
    border: none;
} 
#SubmitEdit{
    margin: 4vh 0 0 0;
    width: 6vw;
}
.setVisibility p {
    font-size: .7em;
}
input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    color: black;
}

#NewItemName, #NewQty{
    margin: 5vh 0 0 0;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    height: 3vh;
    width: auto;

}
#NewItemName::placeholder, #NewQty::placeholder {
    color: black;
}

#editForm{
    margin-bottom: 6vh;
}
table, th, td {
    margin: 0 0 2vh 8vw;
    padding: 0.5rem;
    width: 300px;
    border: 1px solid black;
    border-collapse: collapse;
    
}
/* LOGINREG */

.loginreg{
    position: fixed;
    inset: 0 0 0 35vw;
    max-width: 600px;
    margin: 10vh 0 10vh 15vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(8px); 
    text-align: center;
}

#login, #register{
    background-color: black;
    color:white;
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
    border: none;
}
.loginreg h1{
    font-size: 2em;
}

.loginreg h2{
    font-size: 1em;
}
#usernameReg, #passwordReg, #username, #password{
    margin: 5vh 0 0 0;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    height: 3vh;
    width: auto;
}